body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#editor {
  white-space: pre-wrap; /* Satır sonlarında kırma */
  outline: none;         /* Tıklanınca mavi çerçeve kalkar (isteğe bağlı) */
  min-height: 200px;     /* Yeterli yükseklik */
  font-family: monospace;/* Kod editörü hissi */
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 8px;
  overflow-y: auto;
 word-wrap: break-word;
}


.keyword { color: #569cd6; }
.operator { color: #d4d4d4; }
.literal { color: #ce9178; }
.parantez { color: #9cdcfe; }
.tanımlayıcı { color: #dcdcaa; }
.error { background: #ff0000; color: #fff; }

#hata {
  color: #ff6a00;
  padding: 10px;
  font-size: 14px;
}
